@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1d1e20;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3e3e42;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  color: #e4e4e4;
  background-color: #1d1e20;
  max-width: 1100px;
  margin: auto;
}

.container {
  @apply flex flex-col mx-auto py-2 px-4 md:px-2;
}

.heading {
  @apply text-xl font-semibold text-white mb-4;
}

.pill {
  @apply rounded-full border border-light py-1 px-2 hover:cursor-default font-light;
}

.btn {
  @apply flex py-2 justify-center items-center gap-1 rounded-md font-semibold transition ease-out duration-200;
}

.input {
  @apply py-3 px-4 border border-primary rounded-md bg-transparent focus:border-white outline-none placeholder:text-[#6e6e6e] disabled:text-[#6e6e6e];
}

.link {
  @apply flex gap-2 text-2xl p-1 justify-center items-center hover:text-primary transition ease-out duration-200;
}

.prose-custom {
  @apply prose max-w-none dark:prose-invert

  prose-p:text-[17px] 
  md:prose-p:text-[18px]
  prose-p:text-text
  prose-p:font-[300]

  prose-headings:text-textLight
  prose-headings:leading-[24px]
  prose-headings:mb-1
  prose-h1:text-[22px]
  prose-h2:text-[20px]

  prose-a:text-textLight
  prose-a:text-[17px]
  md:prose-a:text-[18px]
  prose-a:font-[400]
  
  prose-code:text-[15px]
  prose-code:font-[500]

   prose-ol:text-[18px] 
   md:prose-ol:text-[18px] 
   prose-ol:leading-tight 
   prose-ol:text-text 

   prose-ul:text-[17px] 
   md:prose-ul:text-[18px] 
   prose-ul:text-text 
   prose-ul:leading-tight
   
   prose-li:text-[17px] 
   prose-li:leading-normal 
   md:prose-li:text-[18px]
   prose-li:font-[300]
   prose-li:text-text;
}
